html,body{
    margin-top: 5%;
    margin-left: 20%;
}
#name{
    margin-bottom: 3%;
    padding:7px 24px;
}
#password{
    margin-bottom: 3%;
    padding:7px 24px;
}
#submit{
    width: 115px;
    height:45px;
    background-color: blue;
    border-radius: 5px;
    color:white;
    cursor: pointer;
}
